{% extends "layout.twig" %}

{% block content %}

<div id="contact" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/services">SERVICES</a></li>
		</ul>
	</div>

    <div id="contactContent">

        <!-- <h1>message = </h1> -->

        {{ form_start(form) }}

        <div class="name">

            <div class="name-curly-brace-open open-brace-position" data-color="#c00">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

            {{ form_widget(form.name) }}

            <div class="name-curly-brace-close close-brace-position" data-color="#c00">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

        </div>

        <div class="email">

            <div class="email-curly-brace-open open-brace-position" data-color="#0b0">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

            {{ form_widget(form.email) }}

            <div class="email-curly-brace-close close-brace-position" data-color="#0b0">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

        </div>

        <div class="message">

            <div class="message-curly-brace-open open-brace-position" data-color="#00c">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

            {{ form_widget(form.message) }}

            <div class="message-curly-brace-close close-brace-position" data-color="#00c">
                <div class="b1"></div>
                <div class="b2"></div>
                <div class="b3"></div>
                <div class="b4"></div>
                <div class="b5"></div>
                <div class="b6"></div>
            </div>

        </div>

        <div class="formErrors">

            {% if form.name.vars.errors|length > 0 %}
                {% for error in form.name.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            {% endif %}

            {% if form.message.vars.errors|length > 0 %}
                <br>
                {% for error in form.message.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            {% endif %}

        </div>


        <input id="polo" type="submit" class="button large expanded" value="envoyer">

        {{ form_end(form) }}

    </div>
</div>

{% endblock %}
