{% extends "layout.twig" %}

{% block content %}

<div id="contact" class="screen">

	<div class="screenTopBar">
		<ul class="menu">
		  	<li><a href="/">HOME</a></li>
		  	<li><a href="/services">SERVICES</a></li>
		</ul>
	</div>

    <div id="contactContent">

        <h1>Bonjour,</h1>

        {{ form_start(form) }}

        <p class="name">
            {{ form_label(form.name) }} {{ form_widget(form.name) }}
        </p>
        <p class="email">
            {{ form_label(form.email) }} {{ form_widget(form.email) }}
        </p>

        <p>
            {{ form_label(form.message) }}
        </p>

        <p>
            {{ form_widget(form.message) }}
        </p>

        <div class="formErrors">

            {% if form.name.vars.errors|length > 0 %}
                {% for error in form.name.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            {% endif %}

            {% if form.message.vars.errors|length > 0 %}
                <br>
                {% for error in form.message.vars.errors %}
                    {{ error.message }}
                {% endfor %}
            {% endif %}

        </div>


        {#{{ form_widget(form) }}#}

        <input type="submit" class="button large expanded" value="Envoyer">

        {{ form_end(form) }}

    </div>


</div>

{% endblock %}
